---

---
<div class="intro w-full relative">

    <div class="px-20 m-auto pt-20 animation-scroll pb-20">
        <h2 class="text-center text-2xl mb-6">AVENTÚRATE EN LOS CAMINOS MAS HERMOSOS E HISTORICOS DEL PAÍS</h2>

        <p class="text-center text-5xl">Descubre la belleza y el legado histórico que aguardan en los caminos más pintorescos de nuestra tierra. <span class="font-bold">¡Aventúrate y déjate sorprender!</span></p>
    </div>

</div>

<style>

.intro {
    background-image: linear-gradient(rgba(78, 118, 50, 0.7), rgba(158, 158, 158, 0.5)),url('../../public/img/intro/introFondo.jpeg');
    background-size: cover;
    background-repeat:no-repeat;
    
}
    



</style>