---

---

<section>
    <div class="mx-20 m-auto">
        <h1 class="text-center mb-6 font-extrabold animation-left-scroll text-6xl">OBJETIVOS</h1>

        <h2 class="text-center font-normal animation-scroll text-5xl">
            ENTRE LOS OBJETIVOS TENEMOS
        </h2>

        <div class="m-auto block lg:flex justify-center items-center text-sm mt-10 [&>div]:mx-10">
            <div class="flex-1 text-center">
                <h3 class="font-semibold text-gray-800 inline-block px-4 py-2">OBJETIVO 1</h3>

                <p>Conmemorar los 150 años de la inmigración austro alemanes a Pozuzo y mostrar a las distintas corporaciones el potencial turístico y las alternativas de su desarrollo que ofrece el camino de Colonos y Arrieros.</p>
            </div>
        
            <div class="flex-1 text-center">
                <h3 class="font-semibold text-gray-800 inline-block px-4 py-2">OBJETIVO 2</h3>
                <p>
                    Promover la puesta en valor del camino de Colonos y Arrieros, cuidado del medio ambiente y erradicación de la pobreza. Alineados a las exigencias de los 17 ODS de la agenda 2030.
                </p>
            </div>
        
            <div class="flex-1 text-center">
                <h3 class="font-semibold text-gray-800 inline-block px-4 py-2">OBJETIVO 3</h3>
                <p>
                    Inscribir al histórico camino de Colonos y Arrieros en la Lista de Patrimonio Mundial de la UNESCO.
                </p>
            </div>
        </div>
    </div>
</section>