---

---

<div class="intro w-full relative">
    <div class="block lg:flex">

        <div class="px-20 mx-auto pt-20 pb-20">
            <h2 class="text-center text-5xl mb-6 font-extrabold animation-scroll">MISIÓN</h2>
            <p class="text-center text-5xl animation-scroll">PUESTA EN VALOR <br> <span class="font-bold">DEL CAMINO, ARTICULADO A ESTRATEGIAS  <br> </span> DE DESARROLLO SOSTENIBLE Y CONCEPTOS DE BIO REGIÓN.</p>
        </div>

        <div class="px-20 mx-auto pt-20 text-gray-800 pb-20" style="background-color:#FFCB02">
            
            <h2 class="text-center text-5xl mb-6 font-extrabold animation-scroll">VISIÓN</h2>
            
            <p class="text-center text-5xl animation-scroll">DESTINO TURÍSTICO <br> <span class="font-bold">SOSTENIBLE, COMPETITIVO Y SEGURO <br> </span> ARTICULADO A LAS EXIGENCIAS DE LOS 17 ODS DE LA AGENDA 2020</p>
        </div>
    </div>
</div>
