---

---

<section class="bg-gray-200">
    <div class="intro w-full relative">
        <div class="block lg:flex ">
    
            <div class=" px-20 m-auto pt-20 pb-20 text-gray-900 text-start">

                <h2 class="mb-6 font-extrabold animation-left-scroll text-6xl">UBICACION</h2>

                <p class="animation-scroll tracking-widest leading-loose text-xl ">Ubicado en la región central del Perú, en el flanco oriental de la Cordillera de los Andes. En la actualidad gran parte del camino se conserva en el distrito de Chaglla, provincia de Pachitea, departamento de Huánuco y en el distrito de Pozuzo, provincia de Oxapampa, departamento de Pasco.</p>
            </div>
    
            <div class="px-20 m-auto pb-20 bg-gray-100 p-20 text-gray-800" style="background-color:#50A176 ">
                
                <img 
                    class="animation-scroll lg:scale-105 scale-105"
                    src="../../public/img/ubicacion/1.jpg  " 
                    alt="scale:10"
                    >
            </div>
        </div>  
    </div>
</section>
